/* Estilos generales */
.cuerpo {
    background-color: bisque;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 80%;
    margin: 0 auto;
    padding: 2% 10%;
    border: none;
}

.centrar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Estilos para el header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #333;
    color: white;
    padding: 1rem;
    position: sticky;
    top: 0%;
    border-radius: 10%;
}

header img {
    max-width: 100%;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style: none;
    margin: 0 5%; 
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* Estilos para las secciones y artículos */
.titulo {
    color: white;
    font-size: 500%; 
    text-align: center;
    padding: 5%; 
    background-color: #333; 
    border-radius: 20%; 
    box-shadow: 0 0 10% rgba(0, 0, 0, 0.1); 
    margin: 2% auto; 
    max-width: 90%;
}

.subtitulo {
    color: #2f4f4f;
    font-size: 200%; 
    margin: 2%; 
    padding: 2%; 
    justify-content: center;
}

.caja {
    background-color: #ffffff; 
    border-radius: 10%; 
    padding: 5%; 
    margin: 2% auto; 
    max-width: 50%;
}

.parent {
    display: grid;
    grid-template-columns: 55% 55%; 
    grid-gap: 2%; 
    margin: 2%; 
}

/* Media Queries para responsive design */
@media (max-width: 768px) {
    .titulo {
        font-size: 300%; 
    }

    .subtitulo {
        font-size: 150%; 
    }

    .parent {
        grid-template-columns: 100%; 
    }
}